# QuickFIX/J Acceptor (Server) Configuration
# Used by AppLauncher to initialise the FIX session.

[DEFAULT]
ConnectionType=acceptor
StartTime=00:00:00
EndTime=00:00:00
UseLocalTime=Y
HeartBtInt=30
FileStorePath=store
FileLogPath=log
ResetOnLogon=N
ResetOnLogout=N
ResetOnDisconnect=N

[SESSION]
BeginString=FIX.4.4
SenderCompID=EXEC_SERVER
TargetCompID=MINIFIX_CLIENT
SocketAcceptPort=9878
